header img {
    width: 200px;
}

.heroBurger {
    height: 400px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.menuNavigation {
    height: 80px;
    display: flex;
    align-items: center;
    padding-inline: 112px;
    font-size: 32px;
    gap: 48px;
    color: black;
    font-weight: bold;
}

.menuNavigation a {
    color: black;
}

.menuSelection {
    padding-inline: 160px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.menuItems{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.menuItem {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    color: white;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.menuItem div {
    flex: 1;
}

.menuItem div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menuItem div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.itemPrice{
    font-size: 32px;
    font-weight: bold;
}

.menuItem button {
    aspect-ratio: 1/1;
    width: 56px;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.699);
    transition: 0.1s ease-in-out;
}

.menuItem button:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.075);
    border-radius: 8px;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.699);
}

.menuItem button img {
    width: 70%;
}

.orderConfirmation div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}
.orderConfirmation h1{
    text-align: center;
    font-size: 32px;
}
.orderConfirmation button{
    width: 80px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
}
.orderConfirmation button:hover{
    cursor: pointer;
}
.orderConfirmation button img{
    width: 100%;
}


footer img {
    width: 72px;
    border: 1px solid white;
    border-radius: 16px;
}

footer div {
    display: flex;
    align-items: center;
    gap: 24px;
}

footer a {
    color: white;
}

@media(max-width: 1360px){
    .menuSelection{
        padding-inline: 96px;
    }

    .menuItem div:nth-child(1){
        flex: 2;
    }

    
}

@media(max-width: 990px){
    .menuSelection{
        padding-inline: 64px;
    }


}

@media(max-width: 690px){
    .menuSelection{
        padding-inline: 32px;
    }
}

@media(max-width: 600px){
    .menuNavigation {
        padding-inline: 16px;
        font-size: 24px;
        gap: 16px;
        justify-content: space-around;
    }

    .menuItem {
        height: 320px;
    }

    .menuSelection{
        padding-inline: 16px;
    }
}

@media(max-width: 400px){


    .menuItem {
        height: 320px;
    }

    .menuItem h3{
        font-size: 24px;
    }

    .menuNavigation {
        flex-direction: column;
        height: 240px;
    }
}