body{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-orange);
    height: 112px;
    padding-inline: 80px;
}

main{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menuSection{
    width: 100%;
    z-index: 1;
}

.shoppingCart{
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0px;
    width: 360px;
    height: 100vh;
    box-shadow: -12px 0px 39px -19px rgba(0,0,0,0.75);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    gap: 32px;
}

.orderConfirmation{
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100vh;
    box-shadow: -12px 0px 39px -19px rgba(0, 0, 0, 0);
    z-index: 10000;
    padding: 80px;
    padding-top: 32px;
    transition: ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showOrderConfirmation{
    right: 0px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-orange);
    height: 112px; 
    padding-inline: 80px;
}

/* mobile */
@media(max-width:990px){
    .shoppingCart{
        background-color: rgb(255, 255, 255);
        position: fixed;
        top: 0px;
        right: -100%;
        width: 100%;
        height: 100vh;
        box-shadow: -12px 0px 39px -19px rgba(0, 0, 0, 0);
        z-index: 10000;
        padding: 80px;
        padding-top: 32px;
        transition: ease-in-out 0.3s;
    }

    .showShoppingCart{
        right: 0px;
    }
}
@media(max-width:690px){
    .shoppingCart{
        padding: 40px;
        padding-top: 32px;
    }

}

@media(max-width:480px){
    footer{
        flex-direction: column;
        padding: 16px;
        height: 140px; 
    }

}

@media(max-width:400px){
    .shoppingCart{
        padding: 24px;
    }
}


.impressum{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 48px;
    gap: 40px;
    flex-grow: 1;
    flex-direction: column;
}
